<section class="case-section">
    <div class="container">
        <h2 class="case-title">Case Studies</h2>
        <p class="case-text">
            Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies
        </p>

        <ul class="case-list">
            <li class="case-item">
                <p class="case-description">
                    For a local restaurant, we implemented a targeted PPC campaign that resulted in a 50% increase in
                    website traffic and a 25% increase in sales.
                </p>
                <div class="link-container">
                    <a class="case-link" href="#">Learn more</a>
                    <svg class="case-icon" width="20" height="20">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                </div>
            </li>
            <li class="case-item">
                <p class="case-description">
                    For a B2B software company, we developed an SEO strategy that resulted in a first page ranking for
                    key keywords and a 200% increase in organic traffic.
                </p>
                <div class="link-container">
                    <a class="case-link" href="#">Learn more</a>
                    <svg class="case-icon" width="20" height="20">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                </div>
            </li>
            <li class="case-item">
                <p class="case-description">
                    For a national retail chain, we created a social media marketing campaign that increased followers
                    by 25% and generated a 20% increase in online sales.
                </p>
                <div class="link-container">
                    <a class="case-link" href="#">Learn more</a>
                    <svg class="case-icon" width="20" height="20">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
</section>