<section class="clients-section">
    <ul class="clients-list">
        <li class="clients-item">
            <a class="clients-link" href="#" target="_blank" aria-label="Link to the Amazon">
                <picture>
                    <source srcset="./img/amazon.webp 1x, ./img/amazon@2x.webp 2x" media="(min-width: 430px)"
                        type="image/webp">
                    <source srcset="./img/amazon.png 1x, ./img/amazon@2x.png 2x" media="(min-width: 430px)"
                        type="image/png">
                    <img src="./img/amazon.png" alt="Logo of Amazon">
                </picture>
            </a>
        </li>
        <li class="clients-item">
            <a class="clients-link" href="#" target="_blank" aria-label="Link to the Dribble">
                <picture>
                    <source srcset="./img/dribble.webp 1x, ./img/dribble@2x.webp 2x" media="(min-width: 430px)"
                        type="image/webp">
                    <source srcset="./img/dribble.png 1x, ./img/dribble@2x.png 2x" media="(min-width: 430px)"
                        type="image/png">
                    <img src="./img/dribble.png" alt="Logo of Dribble">
                </picture>
            </a>
        </li>
        <li class="clients-item">
            <a class="clients-link" href="#" target="_blank" aria-label="Link to the HubSpot">
                <picture>
                    <source srcset="./img/hubspot.webp 1x, ./img/hubspot@2x.webp 2x" media="(min-width: 430px)"
                        type="image/webp">
                    <source srcset="./img/hubspot.png 1x, ./img/hubspot@2x.png 2x" media="(min-width: 430px)"
                        type="image/png">
                    <img src="./img/hubspot.png" alt="Logo of HubSpot">
                </picture>
            </a>
        </li>
        <li class="clients-item">
            <a class="clients-link" href="#" target="_blank" aria-label="Link to the Notion">
                <picture>
                    <source srcset="./img/notion.webp 1x, ./img/notion@2x.webp 2x" media="(min-width: 430px)"
                        type="image/webp">
                    <source srcset="./img/notion.png 1x, ./img/notion@2x.png 2x" media="(min-width: 430px)"
                        type="image/png">
                    <img src="./img/notion.png" alt="Logo of Notion">
                </picture>
            </a>
        </li>
        <li class="clients-item">
            <a class="clients-link" href="#" target="_blank" aria-label="Link to the Netflix">
                <picture>
                    <source srcset="./img/netflix.webp 1x, ./img/netflix@2x.webp 2x" media="(min-width: 430px)"
                        type="image/webp">
                    <source srcset="./img/netflix.png 1x, ./img/netflix@2x.png 2x" media="(min-width: 430px)"
                        type="image/png">
                    <img src="./img/netflix.png" alt="Logo of Netflix">
                </picture>
            </a>
        </li>
        <li class="clients-item">
            <a class="clients-link" href="#" target="_blank" aria-label="Link to the Zoom">
                <picture>
                    <source srcset="./img/zoom.webp 1x, ./img/zoom@2x.webp 2x" media="(min-width: 430px)"
                        type="image/webp">
                    <source srcset="./img/zoom.png 1x, ./img/zoom@2x.png 2x" media="(min-width: 430px)"
                        type="image/png">
                    <img src="./img/zoom.png" alt="Logo of Zoom">
                </picture>
            </a>
        </li>
    </ul>
</section>