<div class="contact-section">
    <div class="container">
        <h2 class="contact-title">Contact Us</h2>
        <p class="contact-text">Connect with Us: Let's Discuss Your Digital Marketing Needs</p>

        <form class="form">
            <div class="form-content-container">
                <div class="radio-container">
                    <div class="radio-label-input-container">
                        <input type="radio" name="radio" id="user-choise-hi">
                        <label for="user-choise-hi">Say Hi</label>
                    </div>

                    <div class="radio-label-input-container">
                        <input type="radio" name="radio" id="user-choise-quote">
                        <label for="user-choise-quote">Get a Quote</label>
                    </div>
                </div>

                <div class="label-input-container">
                    <label class="form-label" for="user-name">Name</label>
                    <input class="form-input" type="text" name="user-name" id="user-name" placeholder="Name" required>
                </div>

                <div class="label-input-container">
                    <label class="form-label" for="user-email">Email*</label>
                    <input class="form-input" type="email" name="user-email" id="user-email" placeholder="Email"
                        required>
                </div>

                <div class="label-input-container">
                    <label class="form-label" for="user-message">Message*</label>
                    <textarea class="form-message" name="user-message" id="user-message" placeholder="Message"
                        required></textarea>
                </div>
            </div>

            <button class="form-button" type="submit">Send Message</button>
        </form>
    </div>
</div>