<footer class="footer">
    <div class="container">
        <a class="footer-logo" href="./index.html">
            <img src="./img/mob/logo-light.svg" alt="">
            Positivus
        </a>

        <ul class="footer-nav-list">
            <li class="footer-nav-item">
                <a class="footer-nav-link" href="#">About us</a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link" href="#">Services</a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link" href="#">Use Cases</a>
            </li>
            <li class="footer-nav-item">
                <a class="footer-nav-link" href="#">Pricing</a>
            </li>
        </ul>

        <div class="address-container">
            <p class="address-title">Contact us:</p>
            <address class="address">
                <ul class="address-list">
                    <li class="address-item">
                        <a class="address-link" href="mailto:info@positivus.com">Email: info@positivus.com</a>
                    </li>
                    <li class="address-item">
                        <a class="address-link" href="tel:5555678901">Phone: 555-567-8901</a>
                    </li>
                    <li class="address-item">
                        <a class="address-link" href="https://maps.app.goo.gl/aKqe3TogStgBpTDL8"
                            target="_blank">Address: 1234 Main St
                            Moonstone City, Stardust State 12345</a>
                    </li>
                </ul>
            </address>
        </div>

        <form class="footer-form">
            <input class="footer-input" type="email" name="user-email" id="user-email" placeholder="Email" required>
            <button class="footer-form-button" type="submit">Subscribe to news</button>
        </form>

        <ul class="footer-social-list">
            <li class="footer-social-item">
                <a class="footer-social-link" href="#" target="_blank" aria-label="Link to the LinkedIn">
                    <svg class="footer-social-icon" width="18" height="18">
                        <use href="./img/icons.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social-item">
                <a class="footer-social-link" href="#" target="_blank" aria-label="Link to the Facebook">
                    <svg class="footer-social-icon facebook" width="30" height="30">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social-item">
                <a class="footer-social-link" href="#" target="_blank" aria-label="Link to the Twitter">
                    <svg class="footer-social-icon" width="18" height="18">
                        <use href="./img/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <div class="footer-rights-container">
            <p class="footer-rights">© 2023 Positivus. All Rights Reserved.</p>
            <p class="footer-policy">Privacy Policy</p>
        </div>
    </div>
</footer>