<section class="hero-section">
    <div class="container">
        <h1 class="hero-title">Navigating the digital landscape for success</h1>
        <picture>
            <source srcset="./img/desk/hero-img.webp 1x, ./img/desk/hero-img@2x.webp 2x" media="(min-width: 1280px)"
                type="image/webp">
            <source srcset="./img/desk/hero-img.png 1x, ./img/desk/hero-img@2x.png 2x" media="(min-width: 1280px)"
                type="image/png">

            <source srcset="./img/mob/hero-img.webp 1x, ./img/mob/hero-img@2x.webp 2x" media="(min-width: 430px)"
                type="image/webp">
            <source srcset="./img/mob/hero-img.png 1x, ./img/mob/hero-img.png@2x 2x" media="(min-width: 430px)"
                type="image/png">

            <img class="hero-img" src="./img/mob/hero-img.png" alt="A loudspeaker">
        </picture>

        <p class="hero-text">
            Our digital marketing agency helps businesses grow and succeed online through a range of services including
            SEO, PPC, social media marketing, and content creation.
        </p>

        <a class="hero-link" href="#" aria-label="Link to the form">Book a consultation</a>
    </div>
</section>