<div class="mobile-menu">
    <button class="mobile-btn-close">
        <svg class="mobile-btn-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-close"></use>
        </svg>
    </button>

    <ul class="mobile-list">
        <li class="mobile-item">
            <a class="mobile-link" href="#team">About us</a>
        </li>
        <li class="mobile-item">
            <a class="mobile-link" href="#services">Services</a>
        </li>
        <li class="mobile-item">
            <a class="mobile-link" href="#cases">Use Cases</a>
        </li>
        <li class="mobile-item">
            <a class="mobile-link" href="#form">Pricing</a>
        </li>
        <li class="mobile-item">
            <a class="mobile-link" href="#blog">Blog</a>
        </li>
    </ul>

    <a class="mobile-button" href="#form">Request a quote</a>
</div>