<section class="service-section" id="services">
    <div class="container">
        <h2 class="service-title">Services</h2>
        <p class="service-text">
            At our digital marketing agency, we offer a range of services to help businesses grow and succeed online.
            These services include:
        </p>

        <ul class="service-list">
            <li class="service-item">
                <div class="sub-title-container">
                    <p class="first-row">Search engine</p>
                    <p class="second-row">optimization</p>
                </div>
                <div class="link-img-container">
                    <a class="service-link" href="#" aria-label="Link to the page with additional information">
                        <svg class="service-icon" width="20" height="20">
                            <use href="./img/icons.svg#icon-arrow"></use>
                        </svg>
                    </a>
                    <picture>
                        <source srcset="./img/desk/service-first-img.webp 1x, ./img/desk/service-first-img@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./img/desk/service-first-img.png 1x, ./img/desk/service-first-img@2x.png 2x"
                            media="(min-width: 1280px)" type="image/png">

                        <source srcset="./img/mob/service-first-img.webp 1x, ./img/mob/service-first-img@2x.webp 2x"
                            media="(min-width: 430px)" type="image/webp">
                        <source srcset="./img/mob/service-first-img.png 1x, ./img/mob/service-first-img@2x.png 2x"
                            media="(min-width: 430px)" type="image/png">

                        <img src="./img/mob/service-first-img.png" alt="First picture from the serive list"
                            class="service-img">
                    </picture>
                </div>
            </li>
            <li class="service-item">
                <div class="sub-title-container">
                    <p class="first-row">Pay-per-click</p>
                    <p class="second-row">advertising</p>
                </div>
                <div class="link-img-container">
                    <a class="service-link" href="#" aria-label="Link to the page with additional information">
                        <svg class="service-icon" width="20" height="20">
                            <use href="./img/icons.svg#icon-arrow"></use>
                        </svg>
                    </a>
                    <picture>
                        <source srcset="./img/desk/service-second-img.webp 1x, ./img/desk/service-second-img@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./img/desk/service-second-img.png 1x, ./img/desk/service-second-img@2x.png 2x"
                            media="(min-width: 1280px)" type="image/png">

                        <source srcset="./img/mob/service-second-img.webp 1x, ./img/mob/service-second-img@2x.webp 2x"
                            media="(min-width: 430px)" type="image/webp">
                        <source srcset="./img/mob/service-second-img.png 1x, ./img/mob/service-second-img@2x.png 2x"
                            media="(min-width: 430px)" type="image/png">

                        <img src="./img/mob/service-second-img.png" alt="Second picture from the serive list"
                            class="service-img">
                    </picture>
                </div>
            </li>
            <li class="service-item">
                <div class="sub-title-container">
                    <p class="first-row">Social Media</p>
                    <p class="second-row">Marketing</p>
                </div>
                <div class="link-img-container">
                    <a class="service-link" href="#" aria-label="Link to the page with additional information">
                        <svg class="service-icon" width="20" height="20">
                            <use href="./img/icons.svg#icon-arrow"></use>
                        </svg>
                    </a>
                    <picture>
                        <source srcset="./img/desk/service-third-img.webp 1x, ./img/desk/service-third-img@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./img/desk/service-third-img.png 1x, ./img/desk/service-third-img@2x.png 2x"
                            media="(min-width: 1280px)" type="image/png">

                        <source srcset="./img/mob/service-third-img.webp 1x, ./img/mob/service-third-img@2x.webp 2x"
                            media="(min-width: 430px)" type="image/webp">
                        <source srcset="./img/mob/service-third-img.png 1x, ./img/mob/service-third-img@2x.png 2x"
                            media="(min-width: 430px)" type="image/png">

                        <img src="./img/mob/service-third-img.png" alt="Third picture from the serive list"
                            class="service-img">
                    </picture>
                </div>
            </li>
            <li class="service-item">
                <div class="sub-title-container">
                    <p class="first-row">Email</p>
                    <p class="second-row">Marketing</p>
                </div>
                <div class="link-img-container">
                    <a class="service-link" href="#" aria-label="Link to the page with additional information">
                        <svg class="service-icon" width="20" height="20">
                            <use href="./img/icons.svg#icon-arrow"></use>
                        </svg>
                    </a>
                    <picture>
                        <source srcset="./img/desk/service-fourth-img.webp 1x, ./img/desk/service-fourth-img@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./img/desk/service-fourth-img.png 1x, ./img/desk/service-fourth-img@2x.png 2x"
                            media="(min-width: 1280px)" type="image/png">

                        <source srcset="./img/mob/service-fourth-img.webp 1x, ./img/mob/service-fourth-img@2x.webp 2x"
                            media="(min-width: 430px)" type="image/webp">
                        <source srcset="./img/mob/service-fourth-img.png 1x, ./img/mob/service-fourth-img@2x.png 2x"
                            media="(min-width: 430px)" type="image/png">

                        <img src="./img/mob/service-fourth-img.png" alt="Fourth picture from the serive list"
                            class="service-img">
                    </picture>
                </div>
            </li>
            <li class="service-item">
                <div class="sub-title-container">
                    <p class="first-row">Content</p>
                    <p class="second-row">Creation</p>
                </div>
                <div class="link-img-container">
                    <a class="service-link" href="#" aria-label="Link to the page with additional information">
                        <svg class="service-icon" width="20" height="20">
                            <use href="./img/icons.svg#icon-arrow"></use>
                        </svg>
                    </a>
                    <picture>
                        <source srcset="./img/desk/service-fifth-img.webp 1x, ./img/desk/service-fifth-img@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./img/desk/service-fifth-img.png 1x, ./img/desk/service-fifth-img@2x.png 2x"
                            media="(min-width: 1280px)" type="image/png">

                        <source srcset="./img/mob/service-fifth-img.webp 1x, ./img/mob/service-fifth-img@2x.webp 2x"
                            media="(min-width: 430px)" type="image/webp">
                        <source srcset="./img/mob/service-fifth-img.png 1x, ./img/mob/service-fifth-img@2x.png 2x"
                            media="(min-width: 430px)" type="image/png">

                        <img src="./img/mob/service-fifth-img.png" alt="Fifth picture from the serive list"
                            class="service-img">
                    </picture>
                </div>
            </li>
            <li class="service-item">
                <div class="sub-title-container">
                    <p class="first-row">Analytics and</p>
                    <p class="second-row">Tracking</p>
                </div>
                <div class="link-img-container">
                    <a class="service-link" href="#" aria-label="Link to the page with additional information">
                        <svg class="service-icon" width="20" height="20">
                            <use href="./img/icons.svg#icon-arrow"></use>
                        </svg>
                    </a>
                    <picture>
                        <source srcset="./img/desk/service-sixth-img.webp 1x, ./img/desk/service-sixth-img@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./img/desk/service-sixth-img.png 1x, ./img/desk/service-sixth-img@2x.png 2x"
                            media="(min-width: 1280px)" type="image/png">

                        <source srcset="./img/mob/service-sixth-img.webp 1x, ./img/mob/service-sixth-img@2x.webp 2x"
                            media="(min-width: 430px)" type="image/webp">
                        <source srcset="./img/mob/service-sixth-img.png 1x, ./img/mob/service-sixth-img@2x.png 2x"
                            media="(min-width: 430px)" type="image/png">

                        <img src="./img/mob/service-sixth-img.png" alt="Sixth picture from the serive list"
                            class="service-img">
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>