<section class="team-section" id="team">
    <div class="container">
        <h2 class="team-title">Team</h2>
        <p class="team-text">
            Meet the skilled and experienced team behind our successful digital marketing strategies
        </p>

        <ul class="team-list">
            <li class="team-item">
                <div class="img-name-link-container">
                    <div class="img-name-container">
                        <picture>
                            <source srcset="./img/team-first.webp 1x, ./img/team-first@2x.webp 2x"
                                media="(min-width: 430px)" type="image/webp">
                            <source srcset="./img/team-first.png 1x, ./img/team-first@2x.png 2x"
                                media="(min-width: 430px)" type="image/png">

                            <img src="./img/team-first.png" alt="">
                        </picture>

                        <div class="name-container">
                            <p class="team-name">John Smith</p>
                            <p class="team-position">CEO and Founder</p>
                        </div>
                    </div>
                    <a class="team-link" href="https://www.linkedin.com/"
                        aria-label="Link to the LinkedIn progile of workers" target="_blank">
                        <svg class="team-icon" width="17" height="17">
                            <use href="./img/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                <p class="team-description">
                    10+ years of experience in digital marketing. Expertise in SEO, PPC, and content strategy
                </p>
            </li>
            <li class="team-item">
                <div class="img-name-link-container">
                    <div class="img-name-container">
                        <picture>
                            <source srcset="./img/team-second.webp 1x, ./img/team-second@2x.webp 2x"
                                media="(min-width: 430px)" type="image/webp">
                            <source srcset="./img/team-second.png 1x, ./img/team-second@2x.png 2x"
                                media="(min-width: 430px)" type="image/png">

                            <img src="./img/team-second.png" alt="">
                        </picture>

                        <div class="name-container">
                            <p class="team-name">Jane Doe</p>
                            <p class="team-position">Director of Operations</p>
                        </div>
                    </div>
                    <a class="team-link" href="https://www.linkedin.com/"
                        aria-label="Link to the LinkedIn progile of workers" target="_blank">
                        <svg class="team-icon" width="17" height="17">
                            <use href="./img/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                <p class="team-description">
                    7+ years of experience in project management and team leadership. Strong organizational and
                    communication skills
                </p>
            </li>
            <li class="team-item">
                <div class="img-name-link-container">
                    <div class="img-name-container">
                        <picture>
                            <source srcset="./img/team-third.webp 1x, ./img/team-third@2x.webp 2x"
                                media="(min-width: 430px)" type="image/webp">
                            <source srcset="./img/team-third.png 1x, ./img/team-third@2x.png 2x"
                                media="(min-width: 430px)" type="image/png">

                            <img src="./img/team-third.png" alt="">
                        </picture>

                        <div class="name-container">
                            <p class="team-name">Michael Brown</p>
                            <p class="team-position">Senior SEO Specialist</p>
                        </div>
                    </div>
                    <a class="team-link" href="https://www.linkedin.com/"
                        aria-label="Link to the LinkedIn progile of workers" target="_blank">
                        <svg class="team-icon" width="17" height="17">
                            <use href="./img/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                <p class="team-description">
                    5+ years of experience in SEO and content creation. Proficient in keyword research and on-page
                    optimization
                </p>
            </li>
            <li class="team-item">
                <div class="img-name-link-container">
                    <div class="img-name-container">
                        <picture>
                            <source srcset="./img/team-fourth.webp 1x, ./img/team-fourth@2x.webp 2x"
                                media="(min-width: 430px)" type="image/webp">
                            <source srcset="./img/team-fourth.png 1x, ./img/team-fourth@2x.png 2x"
                                media="(min-width: 430px)" type="image/png">

                            <img src="./img/team-fourth.png" alt="">
                        </picture>

                        <div class="name-container">
                            <p class="team-name">Emily Johnson</p>
                            <p class="team-position">PPC Manager</p>
                        </div>
                    </div>
                    <a class="team-link" href="https://www.linkedin.com/"
                        aria-label="Link to the LinkedIn progile of workers" target="_blank">
                        <svg class="team-icon" width="17" height="17">
                            <use href="./img/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                <p class="team-description">
                    3+ years of experience in paid search advertising. Skilled in campaign management and performance
                    analysis
                </p>
            </li>
            <li class="team-item">
                <div class="img-name-link-container">
                    <div class="img-name-container">
                        <picture>
                            <source srcset="./img/team-fifth.webp 1x, ./img/team-fifth@2x.webp 2x"
                                media="(min-width: 430px)" type="image/webp">
                            <source srcset="./img/team-fifth.png 1x, ./img/team-fifth@2x.png 2x"
                                media="(min-width: 430px)" type="image/png">

                            <img src="./img/team-fifth.png" alt="">
                        </picture>

                        <div class="name-container">
                            <p class="team-name">Brian Williams</p>
                            <p class="team-position">Social Media Specialist</p>
                        </div>
                    </div>
                    <a class="team-link" href="https://www.linkedin.com/"
                        aria-label="Link to the LinkedIn progile of workers" target="_blank">
                        <svg class="team-icon" width="17" height="17">
                            <use href="./img/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                <p class="team-description">
                    4+ years of experience in social media marketing. Proficient in creating and scheduling content,
                    analyzing metrics, and building engagement
                </p>
            </li>
            <li class="team-item">
                <div class="img-name-link-container">
                    <div class="img-name-container">
                        <picture>
                            <source srcset="./img/team-sixth.webp 1x, ./img/team-sixth@2x.webp 2x"
                                media="(min-width: 430px)" type="image/webp">
                            <source srcset="./img/team-sixth.png 1x, ./img/team-sixth@2x.png 2x"
                                media="(min-width: 430px)" type="image/png">

                            <img src="./img/team-sixth.png" alt="">
                        </picture>

                        <div class="name-container">
                            <p class="team-name">Sarah Kim</p>
                            <p class="team-position">Content Creator</p>
                        </div>
                    </div>
                    <a class="team-link" href="https://www.linkedin.com/"
                        aria-label="Link to the LinkedIn progile of workers" target="_blank">
                        <svg class="team-icon" width="17" height="17">
                            <use href="./img/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                <p class="team-description">
                    2+ years of experience in writing and editing
                    Skilled in creating compelling, SEO-optimized content for various industries
                </p>
            </li>
        </ul>

        <a class="team-link-list" href="#form" aria-label="Link to the complete list of the team">See all team</a>
    </div>
</section>