<section class="testimonials-section">
    <div class="container">
        <h2 class="testimomial-title">Testimonials</h2>
        <p class="testimomial-text">
            Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services
        </p>

        <div class="testimomial-content-container">
            <ul class="testimomial-list">
                <li class="testimomial-item">
                    <p class="testimomial-description">
                        "We have been working with Positivus for the past year and have seen a significant increase in
                        website traffic and leads as a result of their efforts. The team is professional, responsive,
                        and
                        truly cares about the success of our business. We highly recommend Positivus to any company
                        looking
                        to grow their online presence."
                    </p>

                    <div class="testimomial-name-container">
                        <h3 class="testimonial-name">John Smith</h3>
                        <p class="testimonial-position">Marketing Director at XYZ Corp</p>
                    </div>
                </li>
                <!-- <li class="testimomial-item">
                    <p class="testimomial-description">
                        "We have been working with Positivus for the past year and have seen a significant increase in
                        website traffic and leads as a result of their efforts. The team is professional, responsive, and
                        truly cares about the success of our business. We highly recommend Positivus to any company looking
                        to grow their online presence."
                    </p>
    
                    <div class="name-container">
                        <h3 class="testimonial-name">John Smith</h3>
                        <p class="testimonial-position">Marketing Director at XYZ Corp</p>
                    </div>
                </li>
                <li class="testimomial-item">
                    <p class="testimomial-description">
                        "We have been working with Positivus for the past year and have seen a significant increase in
                        website traffic and leads as a result of their efforts. The team is professional, responsive, and
                        truly cares about the success of our business. We highly recommend Positivus to any company looking
                        to grow their online presence."
                    </p>
    
                    <div class="name-container">
                        <h3 class="testimonial-name">John Smith</h3>
                        <p class="testimonial-position">Marketing Director at XYZ Corp</p>
                    </div>
                </li> -->
            </ul>

            <div class="slider-container">
                <button class="testimomial-button" type="button">
                    <svg class="testimomial-button-icon backward" width="20" height="20">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
                <ul class="testimomial-icon-list">
                    <li class="testimomial-icon-item">
                        <svg class="testimomial-icon" width="14" height="14">
                            <use href="./img/icons.svg#icon-slider"></use>
                        </svg>
                    </li>
                    <li class="testimomial-icon-item">
                        <svg class="testimomial-icon" width="14" height="14">
                            <use href="./img/icons.svg#icon-slider"></use>
                        </svg>
                    </li>
                    <li class="testimomial-icon-item">
                        <svg class="testimomial-icon" width="14" height="14">
                            <use href="./img/icons.svg#icon-slider"></use>
                        </svg>
                    </li>
                    <li class="testimomial-icon-item">
                        <svg class="testimomial-icon" width="14" height="14">
                            <use href="./img/icons.svg#icon-slider"></use>
                        </svg>
                    </li>
                    <li class="testimomial-icon-item">
                        <svg class="testimomial-icon" width="14" height="14">
                            <use href="./img/icons.svg#icon-slider"></use>
                        </svg>
                    </li>
                </ul>
                <button class="testimomial-button" type="button">
                    <svg class="testimomial-button-icon forward " width="20" height="20">
                        <use href="./img/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>