<section class="work-process-section">
    <div class="container">
        <div class="title-container">
            <h2 class="work-title">Our Working</h2>
            <p class="work-title-descr">Process</p>
        </div>
        <p class="work-text">Step-by-Step Guide to Achieving Your Business Goals</p>

        <ul class="work-list">
            <li class="work-item">
                <div class="work-text-container">
                    <p class="work-num">01</p>
                    <p class="work-description">Consultation</p>
                </div>
                <div class="icon-container">
                    <svg class="work-icon" width="12" height="12">
                        <use href="./img/icons.svg#icon-plus"></use>
                    </svg>
                </div>
            </li>
            <li class="work-item">
                <div class="work-text-container">
                    <p class="work-num">02</p>
                    <p class="work-description">Research and Strategy Development</p>
                </div>
                <div class="icon-container">
                    <svg class="work-icon" width="12" height="12">
                        <use href="./img/icons.svg#icon-plus"></use>
                    </svg>
                </div>
            </li>
            <li class="work-item">
                <div class="work-text-container">
                    <p class="work-num">03</p>
                    <p class="work-description">Implementation</p>
                </div>
                <div class="icon-container">
                    <svg class="work-icon" width="12" height="12">
                        <use href="./img/icons.svg#icon-plus"></use>
                    </svg>
                </div>
            </li>
            <li class="work-item">
                <div class="work-text-container">
                    <p class="work-num">04</p>
                    <p class="work-description">Monitoring and Optimization</p>
                </div>
                <div class="icon-container">
                    <svg class="work-icon" width="12" height="12">
                        <use href="./img/icons.svg#icon-plus"></use>
                    </svg>
                </div>
            </li>
            <li class="work-item">
                <div class="work-text-container">
                    <p class="work-num">05</p>
                    <p class="work-description">Reporting and Communication</p>
                </div>
                <div class="icon-container">
                    <svg class="work-icon" width="12" height="12">
                        <use href="./img/icons.svg#icon-plus"></use>
                    </svg>
                </div>
            </li>
            <li class="work-item">
                <div class="work-text-container">
                    <p class="work-num">06</p>
                    <p class="work-description">Continual Improvement</p>
                </div>
                <div class="icon-container">
                    <svg class="work-icon" width="12" height="12">
                        <use href="./img/icons.svg#icon-plus"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
</section>