/* Fonts */

@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/space-grotesk-v16-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/space-grotesk-v16-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/space-grotesk-v16-latin-600.woff2') format('woff2');
}

/* Variables */

:root {
    --accent-color: #b9ff66;

    --bg-main-color: #fff;
    --bg-additional-color: #191a23;
    --bg-font-color: #fff;

    --box-shadow-color: #191a23;
    --border-color: #191a23;
    --footer-border-color: #fff;

    --button-bg: #191a23;
    --card-bg: #f3f3f3;
    --form-bg: #f3f3f3;
    --footer-bg: #191a23;
    --footer-form-bg: #292a32;

    --link-bg-light: #fff;
    --link-bg-dark: #000;

    --icon-stroke-color: #000;
    --icon-fill-light: #fff;

    --hover-focus-color: #b9ff66;

    --font-family: "Space Grotesk", sans-serif;
    --font-main-color: #000;
    --font-font-color: #fff;

    --placeholder-color: #898989;

}


/* Genetal Styles */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    color: var(--font-main-color);
}

.container {
    width: 100%;
    max-width: 430px;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}