.header {
    padding-top: 30px;
    padding-bottom: 40px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 28px;
    font-weight: 500;
}

.burger-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-icon {
    stroke-width: 2px;
    stroke: #000;
}